#AB{
    background-color: black; 
    height: 50%;
    width: 50%;
    padding: 1%;
    border: 10PX dotted darkmagenta;
}
H1{
    background-color:blue;
    height: 50%;
    width: 50%;
}
#name{
    background-color:rgb(18, 23, 18);
    height: 50%;
    width: 65%;
    border: 10px double grey;

}
#ac{
    background-color:brown;
     height: 50%;
    width: 50%;
}
#as{
    background-color: antiquewhite;
    height: 50%;
    width: 50%;
    border:50% double black;
}
body{
    background-color: darkgoldenrod;
    height: 50%;
    width: 50%;
}
#SD{
    background-color: rgb(199, 13, 56);
    height: 50%;
    width: 650px;
    margin: auto;
}